# System
.idea
*.iml
*.swp
build
out
data
.DS_Store
.dockerversions
.classpath
.project
.settings
.vscode
.env.local
.coverage
htmlcov

# Python
*.egg-info
__pycache__
.eggs
.venv
.mypy_cache
.ipynb_checkpoints
.pytest_
